<% include ./partials/header %>

<link rel="stylesheet" href="/css/app-mobile.css">

<header>
  <img id="menu" src="/assets/menu.svg" alt="menu">
</header>

<section class="modules container">


  <input class="newTaskInput" type="text" name="newTask" placeholder="new task">

</section>

<script type="text/javascript">
  var userId ="<%=user._id%>";
</script>

<script type="text/javascript" src="/js/api.js"></script>



<% include ./partials/footer %>
