<% include ./partials/header %>
<% include ./partials/navbar %>
  <link rel="stylesheet" href="./../css/index.css">

  <section id="main-container" class="animated module hide">

    <h1 id="slogan">Organize at the speed of lite!</h1>
    <a href="/register"><button class="btn btn-register">Register</button></a>
    <a href="/login"><button class="btn btn-login">Login</button></a>

  </section>

  <script type="text/javascript" src="/js/api.js"></script>
<% include ./partials/footer %>
