<% include ./partials/header %>
<% include ./partials/navbar %>
<h1>Register Form</h1>
<form action="/register" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="text" name="email" placeholder="email">
    <input type="password" name="password" placeholder="password">
    <button>Submit</button>
</form>

<% if (message.length > 0) { %>
  <div class="alert alert-danger">
  <strong>Invalid</strong> <%= message %>
</div>
<% } %>

<% include ./partials/footer %>
