header{
  position: fixed;
  top: 0;
  background-color: rgba(0,0,0,0.1);
  padding: 1rem;
  width: 100vw;
}
header #menu{
  width: 4rem;
}

/******************************/
/*          Tasks*             /
/******************************/
